/*Dark to light
    #2F2933 - 2F2933
    #01A2A6 - 01A2A6
    #29D9C2 - 29D9C2
    #BDF271 - BDF271
    #FFFFA6 - FFFFA6
*/
.bootsterContainer.footer .contentpane,
.bootsterContainer.footer .contentpane p  { color:#FFFFA6; }
.bootsterContainer.footer .contentpane h4,
.bootsterContainer.footer .contentpane h4 { color:#FFFFA6; }

.bootsterContainer.footer a,
.bootsterContainer.footer a:link,
.bootsterContainer.footer a:active,
.bootsterContainer.footer a:visited,
.bootsterContainer.footer a:focus { color:#FFFFA6 !important; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { color: #01A2A6; }

.topbar             { background: #2F2933; }
.search-bar         { background: #29D9C2; }
.navbar-fixed-top   { background: #01A2A6; }
footer              { background: #2F2933; }

#search-action, .SearchButton, .search-toggle-icon                          { background: url(../../img/search.png) center center no-repeat #2F2933; }
#search-action:hover, .SearchButton:hover, .search-toggle-icon:hover        { background: url(../../img/search.png) center center no-repeat #01A2A6; }
.searchInputContainer input                                                 { background:#FFFFA6; }
.search-button, .search-button a, .search-button a:link,
.search-button a:active, .search-button a:visited, .search-button a:focus   { border-right:solid 1px #29D9C2; color:#FFFFA6; }
.search-button a:hover                                                      { background: #01A2A6; }


.registerGroup .userDisplayName                 { border-left: 1px solid #29D9C2; }
.userMessages strong                            { border-left: 1px solid #29D9C2; }
.userMessages a, .userNotifications a           { border-right: 1px solid #29D9C2; }
.registerGroup a, .loginGroup a                 { border-right: 1px solid #29D9C2; color: #FFFFA6; }
.registerGroup a:hover, .loginGroup a:hover     { background: #01A2A6; }

ul.searchSkinObjectPreview > li:hover           { background-color: #29D9C2; color: #2F2933; }
ul.searchSkinObjectPreview                      { background: #FFFFA6; border: 1px solid #01A2A6; }

.navbar-default .navbar-nav > li > a            { color: #FFFFA6; }

.navbar-default .dropdown-menu>li>a:hover       { background-color: #29D9C2; color:#ffffff; }
.navbar-default .navbar-nav>li>a:hover          { color: #2F2933; background:#29D9C2; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus   { color: #2F2933; background-color: #29D9C2; }

.nav .open > a, .nav .open > a:hover, 
.nav .open > a:focus                            { background-color: #29D9C2; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus { color: #FFFFA6; background-color: #2F2933; }
.navbar-default .navbar-nav > .active > a:hover { color: #2F2933; background-color: #BDF271; }
.navbar-default .navbar-nav .open .dropdown-menu > li > a {  color: #01A2A6; }
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover { background: #FFFFA6; color:#2F2933; }


.socialC .contentpane .list-inline li a         { color:#29D9C2; }
.socialC .contentpane .list-inline li a i       { border: 1px solid #BDF271; }
h4.page-title                                   { color: #01A2A6 }

.bootsterContainer .contentpane .Normal, 
.bootsterContainer .contentpane div, 
.bootsterContainer .contentpane p, 
.bootsterContainer .contentpane td, 
.bootsterContainer .contentpane b               { color: #01A2A6; }

.bootsterContainer .contentpane a,
.bootsterContainer .contentpane a:active,
.bootsterContainer .contentpane a:link,
.bootsterContainer .contentpane a:focus,
.bootsterContainer .contentpane a:visited       { color: #29D9C2; text-decoration:underline; font-weight:600 }
.bootsterContainer .contentpane a:hover         { color: #01A2A6; text-decoration:none; }



.navbar-default .navbar-toggle .icon-bar { background-color: #FFFFA6; }

