/*Dark to light
    #BF1616 - BF1616
    #FF4242 - FF4242
    #FF837E - FF837E
    #FFBFB4 - FFBFB4
    #FFE1D0 - FFE1D0
*/
.bootsterContainer.footer .contentpane,
.bootsterContainer.footer .contentpane p  { color:#FFE1D0; }
.bootsterContainer.footer .contentpane h4,
.bootsterContainer.footer .contentpane h4 { color:#FFE1D0; }

.bootsterContainer.footer a,
.bootsterContainer.footer a:link,
.bootsterContainer.footer a:active,
.bootsterContainer.footer a:visited,
.bootsterContainer.footer a:focus { color:#FFE1D0 !important; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { color: #FF4242; }

.topbar             { background: #BF1616; }
.search-bar         { background: #FF837E; }
.navbar-fixed-top   { background: #FF4242; }
footer              { background: #BF1616; }

#search-action, .SearchButton, .search-toggle-icon                          { background: url(../../img/search.png) center center no-repeat #BF1616; }
#search-action:hover, .SearchButton:hover, .search-toggle-icon:hover        { background: url(../../img/search.png) center center no-repeat #FF4242; }
.searchInputContainer input                                                 { background:#FFE1D0; }
.search-button, .search-button a, .search-button a:link,
.search-button a:active, .search-button a:visited, .search-button a:focus   { border-right:solid 1px #FF837E; color:#FFE1D0; }
.search-button a:hover                                                      { background: #FF4242; }


.registerGroup .userDisplayName                 { border-left: 1px solid #FF837E; }
.userMessages strong                            { border-left: 1px solid #FF837E; }
.userMessages a, .userNotifications a           { border-right: 1px solid #FF837E; }
.registerGroup a, .loginGroup a                 { border-right: 1px solid #FF837E; color: #FFE1D0; }
.registerGroup a:hover, .loginGroup a:hover     { background: #FF4242; }

ul.searchSkinObjectPreview > li:hover           { background-color: #FF837E; color: #BF1616; }
ul.searchSkinObjectPreview                      { background: #FFE1D0; border: 1px solid #FF4242; }

.navbar-default .navbar-nav > li > a            { color: #FFE1D0; }

.navbar-default .dropdown-menu>li>a:hover       { background-color: #FF837E; color:#ffffff; }
.navbar-default .navbar-nav>li>a:hover          { color: #BF1616; background:#FF837E; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus   { color: #BF1616; background-color: #FF837E; }

.nav .open > a, .nav .open > a:hover, 
.nav .open > a:focus                            { background-color: #FF837E; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus { color: #FFE1D0; background-color: #BF1616; }
.navbar-default .navbar-nav > .active > a:hover { color: #BF1616; background-color: #FFBFB4; }
.navbar-default .navbar-nav .open .dropdown-menu > li > a {  color: #BF1616; }
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover { background: #FFE1D0; color:#BF1616; }


.socialC .contentpane .list-inline li a         { color:#FF837E; }
.socialC .contentpane .list-inline li a i       { border: 1px solid #FFBFB4; }
h4.page-title                                   { color: #FF4242 }

.bootsterContainer .contentpane .Normal, 
.bootsterContainer .contentpane div, 
.bootsterContainer .contentpane p, 
.bootsterContainer .contentpane td, 
.bootsterContainer .contentpane b               { color: #FF4242; }

.bootsterContainer .contentpane a,
.bootsterContainer .contentpane a:active,
.bootsterContainer .contentpane a:link,
.bootsterContainer .contentpane a:focus,
.bootsterContainer .contentpane a:visited       { color: #FF837E; text-decoration:underline; font-weight:600 }
.bootsterContainer .contentpane a:hover         { color: #FF4242; text-decoration:none; }



.navbar-default .navbar-toggle .icon-bar { background-color: #FFE1D0; }

