/*
    #002F2F - 002F2F
    #046380 - 046380
    #A7A37E - A7A37E
    #E6E2AF - E6E2AF
    #EFECCA - EFECCA
*/

.bootsterContainer.footer .contentpane,
.bootsterContainer.footer .contentpane p  { color:#EFECCA; }
.bootsterContainer.footer .contentpane h4,
.bootsterContainer.footer .contentpane h4 { color:#EFECCA; }

.bootsterContainer.footer a,
.bootsterContainer.footer a:link,
.bootsterContainer.footer a:active,
.bootsterContainer.footer a:visited,
.bootsterContainer.footer a:focus { color:#EFECCA !important; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { color: #046380; }

.topbar             { background: #002F2F; }
.search-bar         { background: #A7A37E; }
.navbar-fixed-top   { background: #046380; }
footer              { background: #002F2F; }

#search-action, .SearchButton, .search-toggle-icon                          { background: url(../../img/search.png) center center no-repeat #002F2F; }
#search-action:hover, .SearchButton:hover, .search-toggle-icon:hover        { background: url(../../img/search.png) center center no-repeat #046380; }
.searchInputContainer input                                                 { background:#EFECCA; }
.search-button, .search-button a, .search-button a:link,
.search-button a:active, .search-button a:visited, .search-button a:focus   { border-right:solid 1px #A7A37E; color:#EFECCA; }
.search-button a:hover                                                      { background: #046380; }


.registerGroup .userDisplayName                 { border-left: 1px solid #A7A37E; }
.userMessages strong                            { border-left: 1px solid #A7A37E; }
.userMessages a, .userNotifications a           { border-right: 1px solid #A7A37E; }
.registerGroup a, .loginGroup a                 { border-right: 1px solid #A7A37E; color: #EFECCA; }
.registerGroup a:hover, .loginGroup a:hover     { background: #046380; }

ul.searchSkinObjectPreview > li:hover           { background-color: #A7A37E; color: #002F2F; }
ul.searchSkinObjectPreview                      { background: #EFECCA; border: 1px solid #046380; }

.navbar-default .navbar-nav > li > a            { color: #EFECCA; }

.navbar-default .dropdown-menu>li>a:hover       { background-color: #A7A37E; color:#ffffff; }
.navbar-default .navbar-nav>li>a:hover          { color: #002F2F; background:#A7A37E; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus   { color: #002F2F; background-color: #A7A37E; }

.nav .open > a, .nav .open > a:hover, 
.nav .open > a:focus                            { background-color: #A7A37E; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus { color: #EFECCA; background-color: #002F2F; }
.navbar-default .navbar-nav > .active > a:hover { color: #002F2F; background-color: #E6E2AF; }
.navbar-default .navbar-nav .open .dropdown-menu > li > a {  color: #A7A37E; }
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover { background: #EFECCA; color:#002F2F; }


.socialC .contentpane .list-inline li a         { color:#A7A37E; }
.socialC .contentpane .list-inline li a i       { border: 1px solid #E6E2AF; }
h4.page-title                                   { color: #046380 }

.bootsterContainer .contentpane .Normal, 
.bootsterContainer .contentpane div, 
.bootsterContainer .contentpane p, 
.bootsterContainer .contentpane td, 
.bootsterContainer .contentpane b               { color: #046380; }

.bootsterContainer .contentpane a,
.bootsterContainer .contentpane a:active,
.bootsterContainer .contentpane a:link,
.bootsterContainer .contentpane a:focus,
.bootsterContainer .contentpane a:visited       { color: #A7A37E; text-decoration:underline; font-weight:600 }
.bootsterContainer .contentpane a:hover         { color: #046380; text-decoration:none; }



.navbar-default .navbar-toggle .icon-bar { background-color: #EFECCA; }
