/*Dark to light
    #8A0917 - 8A0917
    #595241 - 595241
    #B8AE9C - B8AE9C
    #ACCFCC - ACCFCC
    #FFF9F1 - FFF9F1
*/
.bootsterContainer.footer .contentpane,
.bootsterContainer.footer .contentpane p  { color:#FFF9F1; }
.bootsterContainer.footer .contentpane h4,
.bootsterContainer.footer .contentpane h4 { color:#FFF9F1; }

.bootsterContainer.footer a,
.bootsterContainer.footer a:link,
.bootsterContainer.footer a:active,
.bootsterContainer.footer a:visited,
.bootsterContainer.footer a:focus { color:#FFF9F1 !important; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { color: #595241; }

.topbar             { background: #8A0917; }
.search-bar         { background: #B8AE9C; }
.navbar-fixed-top   { background: #595241; }
footer              { background: #8A0917; }

#search-action, .SearchButton, .search-toggle-icon                          { background: url(../../img/search.png) center center no-repeat #8A0917; }
#search-action:hover, .SearchButton:hover, .search-toggle-icon:hover        { background: url(../../img/search.png) center center no-repeat #595241; }
.searchInputContainer input                                                 { background:#FFF9F1; }
.search-button, .search-button a, .search-button a:link,
.search-button a:active, .search-button a:visited, .search-button a:focus   { border-right:solid 1px #B8AE9C; color:#FFF9F1; }
.search-button a:hover                                                      { background: #595241; }


.registerGroup .userDisplayName                 { border-left: 1px solid #B8AE9C; }
.userMessages strong                            { border-left: 1px solid #B8AE9C; }
.userMessages a, .userNotifications a           { border-right: 1px solid #B8AE9C; }
.registerGroup a, .loginGroup a                 { border-right: 1px solid #B8AE9C; color: #FFF9F1; }
.registerGroup a:hover, .loginGroup a:hover     { background: #595241; }

ul.searchSkinObjectPreview > li:hover           { background-color: #B8AE9C; color: #8A0917; }
ul.searchSkinObjectPreview                      { background: #FFF9F1; border: 1px solid #595241; }

.navbar-default .navbar-nav > li > a            { color: #FFF9F1; }

.navbar-default .dropdown-menu>li>a:hover       { background-color: #B8AE9C; color:#ffffff; }
.navbar-default .navbar-nav>li>a:hover          { color: #8A0917; background:#B8AE9C; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus   { color: #8A0917; background-color: #B8AE9C; }

.nav .open > a, .nav .open > a:hover, 
.nav .open > a:focus                            { background-color: #B8AE9C; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus { color: #FFF9F1; background-color: #8A0917; }
.navbar-default .navbar-nav > .active > a:hover { color: #8A0917; background-color: #ACCFCC; }
.navbar-default .navbar-nav .open .dropdown-menu > li > a {  color: #595241; }
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover { background: #FFF9F1; color:#8A0917; }


.socialC .contentpane .list-inline li a         { color:#B8AE9C; }
.socialC .contentpane .list-inline li a i       { border: 1px solid #ACCFCC; }
h4.page-title                                   { color: #595241 }

.bootsterContainer .contentpane .Normal, 
.bootsterContainer .contentpane div, 
.bootsterContainer .contentpane p, 
.bootsterContainer .contentpane td, 
.bootsterContainer .contentpane b               { color: #595241; }

.bootsterContainer .contentpane a,
.bootsterContainer .contentpane a:active,
.bootsterContainer .contentpane a:link,
.bootsterContainer .contentpane a:focus,
.bootsterContainer .contentpane a:visited       { color: #595241; text-decoration:none; font-weight:600 }
.bootsterContainer .contentpane a:hover         { color: #595241; text-decoration:none; }

.navbar-default .navbar-toggle .icon-bar { background-color: #FFF9F1; }

/* Primary Action */

.dnnPrimaryAction, .dnnFormItem input[type="submit"], a.dnnPrimaryAction {
    border-color: #595241; /*dark blue*/
    background: #3792ED;
    background: -moz-linear-gradient(top, #595241 0%, #B8AE9C 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#595241), color-stop(100%,#B8AE9C)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #595241 0%,#B8AE9C 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(top, #595241 0%,#B8AE9C 100%); /* W3C */
    -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.6), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.6), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
    color: #efefef !important;
    text-shadow: 0px -1px 0px #185B93;
}

    .dnnPrimaryAction:hover, .dnnFormItem input[type="submit"]:hover, a.dnnPrimaryAction:hover {
        border-color: #595241;
        background: #B8AE9C; /* Old browsers */
        background: -moz-linear-gradient(top, #B8AE9C 0%, #595241 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B8AE9C), color-stop(100%,#595241)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #B8AE9C 0%,#595241 100%); /* Chrome10+,Safari5.1+ */
        background: linear-gradient(top, #B8AE9C 0%,#595241 100%); /* W3C */
        color: #fff;
    }

    .dnnPrimaryAction:active, .dnnFormItem input[type="submit"]:active, a.dnnPrimaryAction:active {
        border-color: #595241;
        background: #1f66be; /* Old browsers */
        background: -moz-linear-gradient(top, #1f66be 0%, #3085e0 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1f66be), color-stop(100%,#3085e0)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #1f66be 0%,#3085e0 100%); /* Chrome10+,Safari5.1+ */
        background: linear-gradient(top, #1f66be 0%,#3085e0 100%); /* W3C */
        -webkit-box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
        box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
        color: #fff;
    }

    .dnnPrimaryAction[disabled], .dnnPrimaryAction[disabled]:hover, .dnnPrimaryAction[disabled]:active {
        background: #ccc !important;
        border: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        color: #aaa !important;
        text-shadow: none;
    }

/* Secondary Action */
.dnnFormItem button, .dnnFormItem input[type="button"],
.dnnFormItem input[type="reset"],
.dnnSecondaryAction,
a.dnnSecondaryAction,
ul.dnnAdminTabNav li a,
.dnnLogin .LoginTabGroup span {
    background: #f5f5f5; /* Old browsers */
    background: -moz-linear-gradient(top, #f5f5f5 0%, #dfdfdf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#dfdfdf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f5f5f5 0%,#dfdfdf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f5f5f5 0%,#dfdfdf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f5f5f5 0%,#dfdfdf 100%); /* IE10+ */
    background: linear-gradient(top, #f5f5f5 0%,#dfdfdf 100%); /* W3C */
    -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px 0px rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px 0px rgba(255, 255, 255, 1);
    /*text-shadow: 0px 1px 2px #000000;*/
    color: #333;
}

    .dnnFormItem button:hover, .dnnFormItem input[type="button"]:hover,
    .dnnFormItem input[type="reset"]:hover,
    .dnnSecondaryAction:hover,
    a.dnnSecondaryAction:hover,
    ul.dnnAdminTabNav li a:hover,
    .dnnLogin .LoginTabGroup span:hover {
        background: #fefefe; /* Old browsers */
        background: -moz-linear-gradient(top, #fefefe 0%, #e8e8e8 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #fefefe 0%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #fefefe 0%,#e8e8e8 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #fefefe 0%,#e8e8e8 100%); /* IE10+ */
        background: linear-gradient(top, #fefefe 0%,#e8e8e8 100%); /* W3C */
        color: #555;
    }

    .dnnFormItem button:active,
    .dnnFormItem input[type="button"]:active,
    .dnnFormItem input[type="reset"]:active,
    .dnnFormItem input[type="reset"]:active,
    .dnnSecondaryAction:active,
    a.dnnSecondaryAction:active,
    ul.dnnAdminTabNav li a:active {
        border-color: #999;
        background: #c6c6c6; /* Old browsers */
        background: -moz-linear-gradient(top, #c6c6c6 0%, #f3f3f3 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c6c6c6), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #c6c6c6 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #c6c6c6 0%,#f3f3f3 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #c6c6c6 0%,#f3f3f3 100%); /* IE10+ */
        background: linear-gradient(top, #c6c6c6 0%,#f3f3f3 100%); /* W3C */
        -webkit-box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
        box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
    }

/* Bootstrap Style Overrides */
	.btn-primary,
	.btn-primary:active,
	.dropdown-toggle.btn-primary,
	.bg-primary {color: #fff !important;background-color: #B8AE9C !important;border-color: #595241 !important;}
	.btn-primary:hover {color: #fff;background-color: #595241 !important;border-color: #595241 !important;}
	blockquote {
		padding: 10px 20px;
		margin: 0 0 20px;
		font-size: 17.5px;
		border-left: 5px solid #ACCFCC;
	}
	.text-primary {color: #8A0917 !important;}