/*Dark to light
    #5D7370 - 5D7370
    #7FA6A1 - 7FA6A1
    #B8D9B8 - B8D9B8
    #D6EDBD - D6EDBD
    #FFF5BC - FFF5BC
*/
.bootsterContainer.footer .contentpane,
.bootsterContainer.footer .contentpane p  { color:#FFF5BC; }
.bootsterContainer.footer .contentpane h4,
.bootsterContainer.footer .contentpane h4 { color:#FFF5BC; }

.bootsterContainer.footer a,
.bootsterContainer.footer a:link,
.bootsterContainer.footer a:active,
.bootsterContainer.footer a:visited,
.bootsterContainer.footer a:focus { color:#FFF5BC !important; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { color: #7FA6A1; }

.topbar             { background: #5D7370; }
.search-bar         { background: #B8D9B8; }
.navbar-fixed-top   { background: #7FA6A1; }
footer              { background: #5D7370; }

#search-action, .SearchButton, .search-toggle-icon                          { background: url(../../img/search.png) center center no-repeat #5D7370; }
#search-action:hover, .SearchButton:hover, .search-toggle-icon:hover        { background: url(../../img/search.png) center center no-repeat #7FA6A1; }
.searchInputContainer input                                                 { background:#FFF5BC; }
.search-button, .search-button a, .search-button a:link,
.search-button a:active, .search-button a:visited, .search-button a:focus   { border-right:solid 1px #B8D9B8; color:#FFF5BC; }
.search-button a:hover                                                      { background: #7FA6A1; }


.registerGroup .userDisplayName                 { border-left: 1px solid #B8D9B8; }
.userMessages strong                            { border-left: 1px solid #B8D9B8; }
.userMessages a, .userNotifications a           { border-right: 1px solid #B8D9B8; }
.registerGroup a, .loginGroup a                 { border-right: 1px solid #B8D9B8; color: #FFF5BC; }
.registerGroup a:hover, .loginGroup a:hover     { background: #7FA6A1; }

ul.searchSkinObjectPreview > li:hover           { background-color: #B8D9B8; color: #5D7370; }
ul.searchSkinObjectPreview                      { background: #FFF5BC; border: 1px solid #7FA6A1; }

.navbar-default .navbar-nav > li > a            { color: #FFF5BC; }

.navbar-default .dropdown-menu>li>a:hover       { background-color: #B8D9B8; color:#ffffff; }
.navbar-default .navbar-nav>li>a:hover          { color: #5D7370; background:#B8D9B8; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus   { color: #5D7370; background-color: #B8D9B8; }

.nav .open > a, .nav .open > a:hover, 
.nav .open > a:focus                            { background-color: #B8D9B8; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus { color: #FFF5BC; background-color: #5D7370; }
.navbar-default .navbar-nav > .active > a:hover { color: #5D7370; background-color: #D6EDBD; }
.navbar-default .navbar-nav .open .dropdown-menu > li > a {  color: #7FA6A1; }
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover { background: #FFF5BC; color:#5D7370; }


.socialC .contentpane .list-inline li a         { color:#B8D9B8; }
.socialC .contentpane .list-inline li a i       { border: 1px solid #D6EDBD; }
h4.page-title                                   { color: #7FA6A1 }

.bootsterContainer .contentpane .Normal, 
.bootsterContainer .contentpane div, 
.bootsterContainer .contentpane p, 
.bootsterContainer .contentpane td, 
.bootsterContainer .contentpane b               { color: #7FA6A1; }

.bootsterContainer .contentpane a,
.bootsterContainer .contentpane a:active,
.bootsterContainer .contentpane a:link,
.bootsterContainer .contentpane a:focus,
.bootsterContainer .contentpane a:visited       { color: #B8D9B8; text-decoration:underline; font-weight:600 }
.bootsterContainer .contentpane a:hover         { color: #7FA6A1; text-decoration:none; }



.navbar-default .navbar-toggle .icon-bar { background-color: #FFF5BC; }

